/* App.css */
* {
    box-sizing: border-box;
    margin: 0;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Project Image */
.project-image {
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.my-container {
    margin: auto;
    width: 80%;
}

.my-navbar {
    display: flex;
    justify-content: space-between;
    background-color: #111;
    color: antiquewhite;
}

.my-brand {
    padding: 15px;
    font-size: 24px;
}

.my-nav-items-container {
    display: flex;
}

.my-nav-item {
    padding: 15px;
    font-size: 18px;
    display: block;
}

.my-nav-item > a {
    text-decoration: none;
    color: antiquewhite;
}

.my-nav-item > a:visited {
    text-decoration: none;
    color: antiquewhite;
}
